.manageSpotsWrapper > div {
    height: 20rem;
}

.manageHead {
    margin: 20px 0;
    margin-left: 2rem;
    font-size: 24px;
}

.createSbutton {
    margin-left: 60px;
    border: black 2px solid;
    box-shadow: 3px 3px 1px black;
    color: white;
    background-color: gray;
    padding: 2px 5px;
    font-size: 16px;
    width: 9.5rem;
}

.createSbutton:hover {
    cursor: pointer;
}

.manageSpotsWrapper {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
