.spotShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
}

.spotname {
    font-size: 24px;
    font-weight: bold;
    padding: 25px 0;
}

.location {
    padding-bottom: 20px;
    font-size: 18px;
}

.showImgs {
    display: flex;
    height: 20rem;
    width: 100%;
    margin-bottom: 20px;
}

.prevImg > img {
    height: 358px;
    width: 498px;
}

.otherImgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.otherImgs > img {
    height: 180px;
    width: 200px;
    padding: 2px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 20px;
    padding-bottom: 30px;
}

.spotContext {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.host {
    font-size: 24px;
    padding: 20px 0;
}

.hasReviews, .hasReviews2 {
    display: flex;
}

.spotdescription {
    padding-bottom: 20px;
}

.reserveWrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    width: 22rem;
}

.reserve {
    display: flex;
    justify-content: space-between;
}

.reserveInfo {
    display: flex;
}

.resPrice {
    font-size: 24px;
    padding-right: 5px;
}

.resNight {
    font-size: 18px;
    padding-top: 5px;
}

.reviewInfo {
    display: flex;
    padding-top: 5px;
    font-size: 18px;
}

.dot {
    font-size: 3px;
    padding: 0 10px;
    padding-top: 9px;
}

.resButton {
    background-color: var(--abnb);
    color: white;
    box-shadow: 3px 3px 1px black;
    padding: 15px 60px;
    margin: 10px 0;

}

.resButton:hover {
    cursor: pointer;
}

.revHead {
    display: flex;
    padding: 20px 0;
}

.resIcon {
    padding-right: 5px;
}

.resDot {
    font-size: 5px;
    padding: 0 15px;
    padding-top: 10px;
}

.RevPostButton {
    background-color: darkgrey;
    box-shadow: 3px 3px 1px black;
    color: white;
    border: black 2px solid;
    padding: 3px 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

.RevPostButton:hover {
    cursor: pointer;
}

.beFirst {
    padding-bottom: 2rem;
}
