.allReviews {
    display: flex;
    flex-direction: column;
}

.reviewWrapper {
    margin-bottom: 40px;
}

.reviewName {
    padding-bottom: 5px;
    font-weight: normal;
}

.date {
    color: darkgray;
    padding-bottom: 5px;
    font-weight: normal;
}

.deleteReviewButton {
    border: black 2px solid;
    box-shadow: 3px 3px 1px black;
    color: white;
    background-color: gray;
    padding: 2px 5px;
    font-size: 16px;
    width: 4rem;
    margin: 5px;
}

.deleteReviewButton:hover {
    cursor: pointer;
}
