.allReviews {
    display: flex;
    flex-direction: column;
    width: 980px;
}

.reviewWrapper {
    margin-bottom: 40px;
}

.reviewName {
    padding-bottom: 5px;
    font-weight: normal;
}

.date {
    color: darkgray;
    padding-bottom: 5px;
    font-weight: normal;
}
