/* TODO Add site wide styles */
:root {
    --abnb: #FF5A5F;
    display: flex;
    flex-direction: column;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

input::placeholder {
    color: gray;
}

/* .appWrapper {
    display: flex;
    flex-direction: column;
} */
