/* Styles for the modal */
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    /* Add more styles as needed */
}

#DeleteModalWrapper {
    /* Styles for the delete confirmation modal */
    width: 400px;
    background-color: white;
    padding: 20px;
  }

#DeleteModalWrapper h2 {
    margin-top: 0;
}

#DeleteModalWrapper h3 {
    margin-bottom: 20px;
}

#DeleteModalWrapper button {
    margin-right: 10px;
}
