.spot {
    display: flex;
    padding: 10px;
    border-radius: 5%;
}

.spot:hover {
    box-shadow: 5px 5px 5px 5px lightgray;
}

.img {
    position: relative;
}

.spotImg {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px 0;
}

.spotRating {
    display: flex;
}

.ratingNum {
    padding-left: 3px;
}

.spotPrice {
    display: flex;
}

.priceNum {
    font-weight: bold;
}

.night {
    padding-left: 5px;
}

.nametext {
    font-size: 15px;
    position: absolute;
    padding: 10px;
    top: 1%;
    left: 1%;
    border-radius: 15%;
    background-color: black;
    color: white;
    opacity: 0;
}

.img:hover .nametext {
    opacity: 1;
}

.spotButtons {
    margin-top: 25px;
}

.updateButton {
    border: black 2px solid;
    box-shadow: 3px 3px 1px black;
    color: white;
    background-color: darkgray;
    padding: 2px 5px;
    font-size: 18px;
    margin-right: 15px;
}

.deleteButton {
    border: black 2px solid;
    box-shadow: 3px 3px 1px black;
    color: white;
    background-color: darkgray;
    padding: 2px 5px;
    font-size: 18px;
}

.deleteButton:hover {
    cursor: pointer;
}
