.hidden {
    display: none;
}

#navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: solid 2px lightgrey;
    padding: 0 10px;
}

.homeButton {
    color: var(--abnb);
}

#abnbIcon {
    display: flex;
    font-size: 50px;
}

.pokebnb {
    font-weight: bold;
    font-size: 27px;
    padding-top: 8px;
    padding-left: 5px;
}

.navitems {
    display: flex;
}

.navitems {
    width: 100%;
    font-size: 18px;
    justify-content: space-between;
    margin: 15px;
}

.CreateSpotButton {
    margin-left: 900px;
    margin-top: 10px;
    color: teal;
}
