.hidden {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: solid 2px lightgrey;
    padding: 0 10px;
}

.navitems {
    display: flex;
    width: 100%;
    font-size: 18px;
    justify-content: space-between;
    margin: 15px;
}

.homeButton {
    color: var(--abnb);
}

.navRight {
    display: flex;
    flex-direction: row;
}

#abnbIcon {
    display: flex;
    font-size: 50px;
}

.pokebnb {
    font-weight: bold;
    font-size: 27px;
    padding-top: 8px;
    padding-left: 5px;
}


.CreateSpotButton {
    margin-top: 12px;
    margin-right: 20px;
    color: teal;
    font-weight: bold;
}
