.loginModalWrapper {
    height: 350px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginModalHead {
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding-bottom: 25px;
}

.loginErr {
    color: red;
    margin-left: 25px;
    margin-bottom: 25px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm input {
    width: 90%;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px black solid;
}

.loginModalButton {
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    border: 3px black solid;
    box-shadow: 5px 5px 1px black;
    background-color: var(--abnb);
}

.disabledLoginModalButton {
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    border: 3px black solid;
    box-shadow: 5px 5px 1px black;
    background-color: gray;
}

.loginModalButton:hover {
    cursor: pointer;
}

.demo {
    color: teal;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-decoration: underline;
}

.demo:hover {
    cursor: pointer;
}
